# Angular Frontend (in 'frontend/' directory)
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/*.log
frontend/npm-debug.log*
frontend/.idea
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace
frontend/.DS_Store
frontend/.sass-cache
frontend/connect.lock
frontend/coverage/
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
frontend/typings/
frontend/Thumbs.db
frontend/.angular/cache/

# Java/Spring Boot/Maven Backend (in 'worktest/' directory)
worktest/target/
worktest/pom.xml.tag
worktest/pom.xml.releaseBackup
worktest/pom.xml.versionsBackup
worktest/pom.xml.next
worktest/release.properties
worktest/.idea/
worktest/*.iml
worktest/*.iws
worktest/nbproject/private/
worktest/build/
worktest/nbbuild/
worktest/dist/
worktest/nbdist/
worktest/.nb-gradle/
worktest/.classpath
worktest/.project
worktest/.settings/
worktest/*.class
worktest/*.log
worktest/*.jar
worktest/*.war
worktest/*.nar
worktest/*.ear
worktest/*.zip
worktest/*.tar.gz
worktest/*.rar
worktest/*.db
worktest/.DS_Store

# Exclude large files and directories
*.mp4
*.zip
*.tar.gz
*.rar
*.7z
*.iso
*.dmg
*.img
*.qcow2
*.ova
*.vdi
*.vmdk
*.log

# General System Files
.DS_Store
Thumbs.db

# IDE-specific Files
.vscode/
.idea/
*.iml
