<div class="dashboard-container">
    <div class="dashboard-sidebar">
        <div class="dashboard-item">
            <i class="fa fa-chart-line fa-icon"></i>
            <app-add-loan></app-add-loan>
        </div>
        <div class="dashboard-item">
            <i class="fa fa-plus fa-icon"></i>
            <app-file-upload></app-file-upload>
        </div>
    </div>
    <div class="dashboard-content">
        <div class="dashboard-item">
            <i class="fa fa-upload fa-icon"></i>
            <app-loan-list></app-loan-list>
        </div>
    </div>
</div>
